<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="maps2">
      <ion-icon name="map-outline"></ion-icon>
      <!-- <ion-icon name="person-outline"></ion-icon> -->
      <ion-label>Peta Emisi</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="map-analyst">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Peta Analisis</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="database">
      <ion-icon name="list-circle-outline"></ion-icon>
      <!-- <ion-icon name="settings-outline"></ion-icon> -->
      <ion-label>Pelaporan</ion-label>
    </ion-tab-button>
    <!-- <ion-tab-button tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Login</ion-label>
    </ion-tab-button> -->
  </ion-tab-bar>
</ion-tabs>
