<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/database"></ion-back-button>
    </ion-buttons>
    <ion-title>Laporkan Kemacetan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Lokasi</ion-label>
      <ion-input [(ngModel)]="formData.Lokasi"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Tanggal</ion-label>
      <ion-input [(ngModel)]="formData.Tanggal">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Catatan</ion-label>
      <ion-input [(ngModel)]="formData.Catatan">
      </ion-input>
    </ion-item>
    <!-- <ion-item>
      <ion-label>Age</ion-label>
      <ion-input [(ngModel)]="formData.age">
      </ion-input>
    </ion-item> -->
    <!-- <ion-item>
      <ion-label>Email</ion-label>
      <ion-input [(ngModel)]="formData.email">
      </ion-input>
    </ion-item> -->
  </ion-list>

  <ion-button expand="full" (click)="create()">Kirim</ion-button>
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">create</ion-title>
    </ion-toolbar>
  </ion-header> -->
</ion-content>
