// .ion-item{
//   background-color:  black;
// }


ion-refresher {
  --background: #f4f4f4; /* Ganti warna latar belakang jika diperlukan */
}

#map {
  height: 50%; /* Peta mengambil setengah tinggi halaman */
  width: 100%; /* Lebar penuh halaman */
}
